.installed.cfg
MANIFEST
apache/README.txt
apache/frontend.conf
apache/mapserver.conf
apache/tomcat-print.conf
apache/wsgi.conf
apache/tilecache.conf
tilecache/tilecache.cfg
print/config.yaml
mapserver/app.map
development.ini
production.ini
PapyrusSample.egg-info
