[submodule "papyrussample/static/lib/openlayers"]
	path = papyrussample/static/lib/openlayers
	url = https://github.com/openlayers/openlayers.git
[submodule "papyrussample/static/lib/geoext"]
	path = papyrussample/static/lib/geoext
	url = https://github.com/geoext/geoext.git
