html, body {
    background-color: white;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 13px;
    text-align: center;
}
h1 {
    margin: 5px 0 12px 0;
}
em {
    font-weight: bold;
}
#content {
    width: 800px;
    margin: 0px auto;
    text-align: left;
}
#map {
    width: 800px;
    height: 400px;
    margin: 30px 0 30px 0;
}
p.paragraph {
    margin-bottom: 10px;
}
.x-toolbar {
    background-image: none;
}
.x-toolbar .info {
    background: url('../images/information.png') top left no-repeat;
}
.x-toolbar .editing {
    background: url('../images/pencil.gif') top left no-repeat;
}
.x-toolbar .edit-add {
    background: url('../images/map_add.gif') top left no-repeat;
}
.x-toolbar .edit-modify {
    background: url('../images/map_edit.gif') top left no-repeat;
}
.x-toolbar .delete {
    background: url('../images/map_delete.gif') top left no-repeat;
}
.x-toolbar .save {
    background: url('../images/disk.gif') top left no-repeat;
}
.x-toolbar .cancel {
    background: url('../images/cross.gif') top left no-repeat;
}
.x-toolbar .search {
    background: url('../images/find.gif') top left no-repeat;
}
.x-toolbar .print {
    background: url('../images/printer.gif') top left no-repeat;
}
.toolwindow {
    border: 1px solid #D0D0D0;
    border-top: 0;
    padding: 4px;
    background-color: #F0F0F0;
    font-size: 12px;
}
.toolwindow .x-plain-bwrap {
    overflow: visible;
}
.editing-toolbar {
    border-width: 0;
    margin-right: 15px;
}

.x-tip, .x-plain, .x-panel, .x-window, .x-layer {
    text-align: left;
}

.rating1, .rating2, .rating3, .rating4, .rating5 {
    width: 85px;
    height: 15px;
    background: url('../images/rating.png') left no-repeat;
}
.rating1 {
    background-position: 0 0;
}
.rating2 {
    background-position: 0 -16px;
}
.rating3 {
    background-position: 0 -32px;
}
.rating4 {
    background-position: 0 -48px;
}
.rating5 {
    background-position: 0 -64px;
}
